.result-page-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.result-percentage {
    display: flex;
    flex-direction: column;
    row-gap: 50px;

}

.percentage-circle {
    position: relative;
}

.percentage-circle img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100px;
    transform: translateX(-50%) translateY(-50%);
    animation: fade-in 2s linear;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.percentage-circle circle {
    transform-origin: center;
    fill: #f0f8ff;
    stroke-width: 17px;
    /* stroke: #1e90ff; */
    /* animation: countdown 5s linear; */
    /* stroke-dasharray: 565;
    stroke-dashoffset: 565; */
    transition: 3s linear;
    transform: rotate(-84deg);

}

.percentage-number {
    color: #f0f8ff;
    font-size: 34px;
    font-weight: 700;

}

/* @keyframes countdown {
    0% {
        stroke-dashoffset: 628;
    }

    100% {
        stroke-dashoffset: 0;
    }
} */